/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/* Mixins
 ------------------------------------------ */
@import "mixins.less";


/* Variables
 ------------------------------------------ */
@primary-color: #4a87b6;
@primary-alt-color: #fff;
@secondary-color: #e8f1f7;
@tertiary-color: #333;
@highlight-color: yellow;
@font: 'Arial';
@navbar-height: 45px;
@navbar-border: 1px;
@item-padding: 5px;


body {
	font-family: @font;
}

.navbar {
	height: @navbar-height;
	background-color: @primary-color;
	background: linear-gradient(0deg, #3A6A8A, #3A6A8A 1px, @primary-color 1px, @primary-color);
	color: @primary-alt-color;

	.navitem {
		width: 200px;
		.transition(background .1s ease-in);

		.icon {
			.transition(-webkit-transform .3s ease-in);
			.transition(transform .2s ease-in);
		}
		&:hover {
			background-color: @primary-alt-color;
			color: @tertiary-color;
			
			.icon {
				.transform(rotate(-180deg));
			}
		}
		.inner {
			padding: 0 5px;
			line-height: @navbar-height;
		}
	}
}

.spaceswitcher {
	position: absolute;
	display: none;
	width: 500px;
	max-height: 80%;
	line-height: 100%;
	border: 1px solid #c0c0c0;
	border-top: none;
	box-shadow: 0px 2px 5px #eee;
	overflow: hidden;

	.search {
		margin: 5px;
		background: url(../images/search.png) no-repeat left center;
		border: 1px solid #eee;
		
		input {
			box-sizing: border-box;
			margin: 0;
			padding: 10px 10px 10px 20px;
			width: 100%;
			background: transparent;
			border: none;
			font-size: 100%;
			outline: none;
			-webkit-appearance: none;
		}
		input:active {
		}
	}
	
	.results {
		max-height: 300px;
		overflow-y: auto;

		.group {
			border-top: 1px solid #eee;

			.header,
			.item {
				display: block;
				padding: @item-padding;
				text-decoration: none;
				
				&.selected,
				&:hover {
					background-color: @secondary-color;
				}
			}
			.header {
				color: @primary-color;
				font-weight: bold;
			}
			.item {
				padding-left: @item-padding*4;
				color: @tertiary-color;
			}
		}
	}
}

.highlight {
	background-color: @highlight-color;
	font-style: italic;
}

[class*="icon-"] {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/sprites.svg);
	background-repeat: no-repeat;
}
.icon-search {
	background-position: 0 0;
	width: 16px;
}
.icon-arrow-up {
	background-position: -32px 0;
	width: 16px;
}
.icon-arrow-down {
	background-position: -64px 0;
	width: 16px;
}